#-----------------------------------------------------------
# Ruby Specific .gitignore
#-----------------------------------------------------------

# Build artifacts and lock files
Gemfile.lock
*.gem

# Setuptools distribution folders
/dist/
/build/

# git
/.git/

# various dev junk
/junk/
